html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container a {
    color: #e9593d;
}

.container a:hover {
    color: #e9593d;
    text-decoration: underline !important;
}

.container a:visited {
    color: #e9593d;
    text-decoration: underline !important;
}

.container-fluid {
    padding: 0px !important;
}

.container {
    padding: 50px 10px 50px 10px;
}

.box {
    padding: 30px
}
