footer {
    bottom: 0;
    width: 100%;
}

.footer .container p.text-muted {
    text-align: center;
}

.wuno-color {
    color: #e9593d;
}

.footer .container p.wuno-color {
    text-align: center;
}

.footer .container a.wuno-color:hover {
    color: #e9593d;
}
